@charset "utf-8";
@font-face{
    font-family: "rocksalt";
    src: url("midias/fonts/rock_salt/RockSalt-Regular.ttf");
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: "quicksand";
    src: url("midias/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: 'spacemono';
    src: url("midias/fonts/Space_Mono/SpaceMono-Regular.ttf");
}
header{
    background-color: black;
    color: white;
    height: 150px;
    text-align: center;
}
h1{
    margin: 0px;
    font-size: 50px;
    font-family: 'rocksalt', 'helvetica', 'sans-serif';
}
header > p{
    margin: 0px;
    font-size: 20px
}
header p > a{
    color: white;
    text-decoration: none;
}
header p > a:hover{
    transition: 0.5s;
    color: #2563EB;
}
header p > a:not(hover){
    Transition: 0.5s;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(225, 220, 220);
}
.sexti{
    font-size: 30px;
    line-height: 1.6;
    padding: 8rem 0rem 5rem 7rem;
    font-family: 'quicksand', 'helvetica', 'sans-serif';
}
#bk1{
    background-image: url("midias/images/ft-roseinwater.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#bk1 > p{
    background-color: rgba(101, 101, 101, 0.515);
    display: inline-block;
    padding: 35px;
    border-radius: 10px;
    height: auto;
}
#bk2 > p{
    background-color: rgba(101, 101, 101, 0.515);
    display: inline-block;
    padding: 35px;
    border-radius: 10px;
}
#bk2{
    background-image: url("midias/images/ft-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}
#firstref{
    padding-top: 4rem;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    font-size: 15px;
    font-family: 'spacemono', 'helvetica', 'sans-serif';
    margin: 0px;
    padding-top: 1rem;
}
footer p a{
    color: white;
}